<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.png">
	<title> Document </title>
	<link rel="stylesheet" href="./css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

	<!-- HTML5 shim and Respond.js-->
	<!-- [if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<! [endif]-->	

</head>
<body>

<section class="sectionAsm wrapper">
	<header class="sectionAsm__header">
		<ul class="sectionAsm__header_ul">
			<li class="sectionAsm__header_li">
				<a href="tel:+77052069079" class="sectionAsm__header_a"> +77052069079 </a>
			</li>
			<li class="sectionAsm__header_li" >
				<a href="mailto:nurgalieva.rimma@gmail.com" class="sectionAsm__header_a"> Nurgaliyeva.rimma@gmail.com </a>
			</li>
		</ul>
	</header>
	
	<div class="sectionAsm__services">
		<div class="sectionAsm__services_obertka ">
				<h1 class="sectionAsm__services_asm">
					ASM.
				</h1>
			<ul class="sectionAsm__services_ul row">
				<li class="sectionAsm__services_li">
					PR мероприятия  
				</li>
				<li class="sectionAsm__services_li">
					BTL    
				</li>
				<li class="sectionAsm__services_li">
					Digital активации    
				</li>
				<li class="sectionAsm__services_li">
					Тимбилдинги
				</li>
				<li class="sectionAsm__services_li">
					Дизайн и креатив
				</li>
			</ul>	
			
			<div class="sectionAsm__services_imgFlower">
				<img src="./img/firstScreen_flower.png" alt="imgFlower">
			</div>

		</div>
		<div class="sectionAsm__services_img">
			<img src="./img/FirstScreen_comp.png" alt="left img">
		</div>

	</div>

</section>
<section class="mapCat">
	<img src="./img/mapCat.png" alt="cat" class="mapCat__img">
	<div class="mapCat__description wrapper">
		<div class="mapCat__description_blockOne">
			<img src="./img/mapOne.png" alt="map" class="mapCat__description_img">
		</div>
		<div class="mapCat__description_blockTwo">
			<p class="mapCat__description_p">
				ASM — Идейное агенство полного цикла. Мы начинаем с создания концепции и стратегии, воплощая идеи в любые интеграции, 
				от простых ивентов, до многоуровневых digital активаций.
			</p>
			<p class="mapCat__description_p">
				Наша команда состоит из мотивированных на успех профессионалов, за спиной каждого более 10 лет опыта в разных отраслях маркетинга.
			</p>
			<p class="mapCat__description_p">
				В данной презентации вы можете ознакомиться с нашими последними кейсами
			</p>
		</div>
		
	</div>
</section>
<section class="cases wrapper">
	<div class="cases__block">
		<div class="cases__block_obertka">
			<h2 class="cases__h">
				Кейсы.
			</h2>
			<p class="cases__p">
				Заполните форму и мы отправим вам наше портфолио
			</p>
			<div class="cases__button">Получить кейсы</div>
		</div>
		<div class="cases__img">
			<img src="./img/caseOne.png" alt="CaseImg" >
		</div>
	</div>
	<div class="cases_flower">
		<img src="./img/cases_flower.png" alt="caseFlower">
	</div>	
</section>



<section class="ourClients wrapper">
	<h2 class="ourClients__h">Наши клиенты</h2>
	<ul class="ourClients__ul row">
		<li class="ourClients__li">
			<img src="./img/svg/KazTransOil.svg" alt="logotype1" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/logo2.png" alt="logotype2" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/logo3.png" alt="logotype3" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/logo4.png" alt="logotype4" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/logo5.png" alt="logotype5" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/logo6.png" alt="logotype6" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/logo7.png" alt="logotype7" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/logo8.png" alt="logotype8" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/svg/KazMunayGas_logo.svg" alt="logotype9" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/svg/1920px-Samruk_Kazyna_Logo.png" alt="logotype10" class="ourClients__img">
		</li>
		<li class="ourClients__li">
			<img src="./img/svg/Ulbinsky_plant.png" alt="logotype11" class="ourClients__img">
		</li>
	</ul>

</section>
<section class="reviews wrapper">
	<h2 class="reviews__h">
		Отзывы.
	</h2>
	<p class="reviews__p">
		Что говорят о нас клиенты
	</p>
	<div class="reviews__slide">
		<div class="reviews__slide_height">
			<img src="./img/review1.png" alt="reviews1">
			<img src="./img/review2.png" alt="reviews2">
			<img src="./img/review3.png" alt="reviews3">
			<img src="./img/review4.png" alt="reviews4">
			<img src="./img/review5.png" alt="reviews5">
		</div>
	</div>
</section>


<section class="contacts wrapper">
<div class="contacts__obertka">
	<h2 class="contacts__h">
		Спасибо <br>за внимание!
	</h2>
	<a href="tel:+77052069079" class="contacts__a contacts__a_tel">+7 705 206 9079</a>
	<a href="mailto:nurgalieva.rimma@gmail.com" class="contacts__a contacts__a_mail">nurgalieva.rimma@gmail.com</a>
</div>
<div class="contacts__cat">
	<img src="./img/lastScreenCat.png" alt="contactsCat">
</div>
</section>

<div   class="modal-container d-n">
	<div class="wrapper modal-container__main">
		<button class="modal-container__closer">
				<span class="visually-hidden">Closer</span>
			</button>
		<form action="http://1512526.dissmay.web.hosting-test.net/asm/func.php" method="POST" class="popap__form ">
			 <input type="text" name="my-name" class="popap__input" placeholder="ФИО" required>
          <input type="tel" name="my-tel" class="popap__input" placeholder="Телефон" required>
          <input type="text" name="my-company" class="popap__input"  placeholder="Компания" required>
          <input type="email" name="my-email" class="popap__input" pattern="[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" size="30" placeholder="Email" required>
			<button type="submit" class="popap__button">Получить кейсы</button>
		</form>
	</div>
</div>


<script src="./js/jquery.min.js"></script>
<script src="./js/slick.min.js"></script>
<script src="./js/js.js"></script>
</body>
</html>