@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import 'libs/slick.less';
@import 'libs/slick-theme.less';


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif
}

/* Global classes */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.clearfix:before,
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}

.clear{
	clear: both;
}



.visually-hidden{
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin-top: -1px;
	margin-left: -1px;
	position: absolute;
	clip: rect(0,0,0,0);
	border: none;
}

img, svg{
	max-width: 100%;
	height: auto;
}






/* Atomic classes */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

/* General */


.sectionAsm{
	
	margin-bottom: 90px;
	&__header{
		padding-top: 20px;
		padding-bottom: 5.33333333333333vh;
		width: 100%;
		.media(800px,{
			padding-bottom:12vh;
			});
		&_ul{
			list-style-type: none;
			display: flex;
			justify-content:flex-end;
			padding: 0;
			

			.media(480px,{
				display:block;
			});
		}
		&_li{
			margin-left: 30px;
			
		}
		&_a{
			text-decoration:none;
			color:black;

		}

	}

	&__services{
		display:flex;
		justify-content:space-between;
			.media(675px,{
				display:block;				
			});
		&_obertka{
			.size(7);
			.media(675px,{
					.size(12);			
			});

		}
		&_asm{
			margin: 0;
			.media(1920px,{
				font-size: 10.41666666666667vw;
				});
			.media(1366px,{
				font-size: 10.6666666vw;

				});
			.media(675px,{
					text-align:center;			
			});
		}
		&_ul{
			font-size:16px;
			list-style-type: none;
			display: flex;
			padding: 0;
			margin-bottom: 32vh;
			.media(1095px,{
				justify-content:flex-start;
				
				});
			.media(675px,{
				justify-content:center;
				margin-bottom: 10px;
				font-size:12px			
			});

		}
		&_li{
			.col();
			margin-bottom: 10px;
			.media(1095px,{
				.size(4);
				margin-left:0;
				});


			&:first-child{
				margin: 0;
			}
			.media(1095px,{
				&:nth-child(2){
				margin-left: 40px;
				}
			});
			.media(856px,{
				.size(5);
				margin-left: 0;
				
			});
			.media(675px,{
				.size(2.4);
				text-align:center;
				&:nth-child(2){
					margin-left: 0;
					width: 30px;
				}	
			});
			.media(450px,{
				.size(6);
				
			});
		}

		&_img{
			.size(5);
			.media(675px,{
				.size(12);			
			});
		}

	}
}

.sectionAsm__services_imgFlower{

	.media(675px,{
				display:none;			
			});
}
.mapCat{
	
	position:relative;
	margin-bottom: 90px;
	



	&__img{
		position:absolute;
		top: 0;
		left: 0;
	}
	&__description{
		padding-top: 13.33333333333333vh;
		display:flex;
		justify-content: space-between;
		align-items: center;
		.media(675px,{
				display:block;			
			});
		&_blockOne{
			width: 50%;
			.media(675px,{
				width: 100%;			
			});
			
		}
		&_blockTwo{

			width: 50%;
			.shift-left(0.5);
			.media(675px,{
				width: 80%;
				.shift-left(0);		
			});

		}
		&_p{
			font-size:14px;
			margin-bottom: 20px;
			&:last-child{
				position:relative;
				&:after{
					content:'';
					position:absolute;
					bottom: -30px;
					right: 0;
					width: 80%;
					height: 2px;
					background-color: black;
				}
			}
		}
	}
}
.cases{
	
	padding-bottom: 90px;
	position:relative;
	.media(800px,{
				.shift-left(0);
			});
	.media(414px,{
				height: 50vh;
			});
	.media(375px,{
				height: 50vh;
			});
	.media(320px,{
				margin-top: 90px;
				height: 50vh;
			});
	
	&__block{
		

		.shift-left(1.8);
		.media(800px,{
				.shift-left(0);
			});
		&_obertka{
			
			display:flex;
			
			align-items:flex-start;

			.media(800px,{
				width: 100%;
			});
		}     
	}
	&__h{
		
		.media(1920px,{
			font-size:7.812vw;
			});

		.media(1200px,{
			font-size:12.5vw;
			});
	}
	&__p{
		margin-bottom: 8vh;
		margin-left: 10px;
		.media(700px,{
			margin-left: 0px;
			});
	}

	&__button{
		
		margin-top: 30px;
		margin-left:auto;
		margin-right:auto;
		.size(6);
		height: 56px;
		background-color: black;
		border:none;
		color:white;
		font-weight:bold;
		line-height:56px;
		text-align: center;
		text-decoration:none;
		cursor: pointer;
		.media(900px,{
				.size(9);
			});
		.media(800px,{
				.size(6);
			});
		.media(450px,{
				.size(9);
			});
		.media(400px,{
				.size(12);
			});
	}

	&__img{
		.shift-left(1);
		width: 35%;
		margin-top: -10px;
		.media(800px,{
			display:none;
			});
	}
	&_flower{

		.media(800px,{
			display:none;
			});
	}
}
.ourClients{
	overflow:hidden;
	margin-top: 30px;
	margin-bottom: 80px;
	
	

	&__h{
		text-align: center;
		
		margin-bottom: 190px;
		.media(1920px,{
			font-size:7.812vw;
			});

		.media(1200px,{
			font-size:12.5vw;
			});
		.media(600px,{
			margin-bottom: 90px;
			});
	}
	&__ul{
		height: 150px;
		.media(600px,{
			height: 100px;
			});
		
	}
	&__li{
		
		outline: none;
	}
	&__img{
			filter: grayscale(100%); 
			height: 70px;
			margin: 0 auto;
			&:hover{
				filter: grayscale(0); 
			}
	}
}
.reviews{
	overflow:hidden;
	
	
	
	.media(1920px,{
			margin-bottom: 8.6666666666666vh;
			});
	.media(900px,{
			margin-bottom: 0.6666666666666vh;
			});

	
	.media(800px,{
			margin-bottom:13.33333333333333vh;
			});
	.media(500px,{
			margin-bottom:1.3333333vh;
			});
	&__h{
	text-align: center;
		
		margin-bottom: 10px;
		.media(1920px,{
			font-size:7.812vw;
			});

		.media(1200px,{
			font-size:12.5vw;
			});

	}
	&__p{
		text-align: center;
		margin-bottom: 13.3333333vh;
		.media(400px,{
			margin-bottom: 4vh;
			});
		
	}
	&__slide{
		width: 100%;
		&_height{
			
		}
	}
}

.contacts{
	display:flex;
	justify-content:center;
	align-items:flex-start;
	padding-bottom: 160px;
	.media(414px,{
			padding-bottom: 30px;
			});
	&__obertka{
		margin-top: 100px;
		width: 50%;
		.shift-left(1);
		.media(400px,{
			margin-top: 30px;
			});
	}
	&__h{
		.media(1920px,{
				font-size: 3.75vw;
				});
			.media(1300px,{
				font-size: 6vw;
				});
		margin-bottom: 35px;

	}
	&__a{
		display:block;
		text-decoration: none;
		color:black;
		font-weight: bold;
		font-size:32px;
		.media(880px,{
			font-size:21px;
			});
		.media(400px,{
					font-size:14px;
				});
	
		&_tel{
			margin-bottom: 20px;
			&:before{
				content:'';
				display:inline-block;
				height: 34px;
				width: 130px;
				background-image: url(../img/phone_PNG48972.png);
				background-repeat: no-repeat;
				.media(675px,{
					display:block;
				});
			}
		}
		&_mail{
			&:before{
				content:'';
				display:inline-block;
				height:27px;
				width: 40px;
				margin-right: 15px;
				background-image: url(../img/Mail.png);
				background-repeat: no-repeat;
			}
		}
	}
	&__cat{
		width: 40%;
		margin-left: 10px;
		.media(800px,{
				margin-top: 90px;
				});
	}
}

.modal-container{
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);

	&__closer{
			position:absolute;
			top: 35px;
			right: 25px;
			width:20px;
			height:20px;
			background-color:transparent;
			border:none;

			&:before, &:after{
				content: '';
				position: absolute;
				top: 50%;
				display: 	block;
				width:100%;
				border-bottom:1px solid #fff;
			}	
			&:before{
			
				 transform: rotate(45deg);
				
			}
			&:after{
				
				 transform: rotate(-45deg);
			}

		}
	&__main{
		display:flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position:relative;
			.media(450px,{
				height:100%;


			});

	}

}



.popap__form{
		background-color: #fff;

		.media(800px,{
				padding-top:20px;
				padding-bottom:20px;
				
			});
		border-radius:4px;
		padding-top:100px;
		padding-bottom: 100px;
		.size(10);
		text-align:center;
	}
	.popap__input{
		.size(6);
		border:none;
		border-bottom: 1px solid black;
		padding-left: 25px;
		padding-bottom: 15px;
		margin-top: 20px;
		margin-left: 10px;
		.media(400px,{
				.size(12);
			});

	}
	.popap__button{
		display:block;
		margin-top: 30px;
		margin-left: auto;
		margin-right: 15px;
		.size(6);
		height: 56px;
		background-color: black;
		border:none;
		color:white;
		font-weight:bold;
		.media(400px,{
				.size(12);
			});

	}

.sectionVideo__width{
    width:100%;
    
  }
  .sectionVideo__height{
    width: 100%;
    padding-top: 56.25%;
    position:relative;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
    }
  }